i:hover,ul > li > a:hover{
    color: #36a7e3 !important;
    text-decoration: none;
    outline: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.flat-socials .social li i:hover ,.widget-tag > a:hover{
    background-color: #36a7e3 ;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.comment-detail .comment-reply:hover{
    padding: 5px 10px;
    background-color:  #36a7e3;
    color: #fff !important;
    border-radius: 10px;
}