:root {
    --primary-color: rgba(0, 85, 255, 1);
    --secondary-color: rgba(0, 23, 38, 1);
    --color-spans: rgba(105, 105, 105, 1);
    --color-footer: rgba(21, 31, 57, 1);
    --color-text-white: rgba(255, 255, 255, 1);
    --third-color: rgba(241, 245, 255, 1);
    --border-color: rgba(1, 13, 9, 0.1);
}