/* .container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  @media (min-width: 1200px) {
    .container {
      width: 1200px;
    }
  } */


@media only screen and (min-width: 1200px) {
  .container.container-1690 {
    max-width: 1690px !important;
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1320px !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
}

.container-custom {
  margin: 0 11%;
}

.sticky {
  position: sticky;
  top: 20px;
  /* Vị trí từ đầu trang (top) là 20px */
  left: 30px;
  /* Vị trí từ bên trái (left) là 30px */
}

.flat-row.main-content {
  padding: 130px 0 315px;
}

.flat-row {
  clear: both;
  display: block;
  padding: 100px 0;
}

.main-content {
  overflow: hidden;
  margin-bottom: 60px;

}

.col-md-1.footerItem,
.col-md-1.footerItem {
  padding: 0;
}

.col-md-2.offset-md-1.footerItem {
  padding: 0;
  padding-right: 20px;
}

.mgt--200 {
  margin-top: -200px !important;
}

.mg-auto {
  margin: 0 auto !important;
}

.mgt-10 {
  margin-top: 10px;
}

.mgl--15 {
  margin-left: -20px;
}

.mgb-20 {
  margin-bottom: 20px;
}

.mgb-30 {
  margin-bottom: 30px;
}

.mgb-40 {
  margin-bottom: 40px;
}

.mgb-60 {
  margin-bottom: 60px;
}

.pt-70{
  padding-top: 70px;
}
.py-15{
 padding: 15px 0;
}
.pdl-10 {
  padding-left: 10px;
}


.pdl-87 {
  padding-left: 81px;
}

.text-white {
  color: white;
}

.flex-custom {
  display: flex;
  justify-content: space-between;
}

.col-md-7.post {
  margin-right: -30px !important;
}