@import url(color.css);

.imgblog {


    border-radius: 10px;
}

.d-flex {
    display: flex;
}

.justify-spaceBT {
    justify-content: space-between;
}

.overlay::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 0;
    left: 0;
    opacity: 0.8;
    background-color: black;
}

.theme-btn {
    display: inline-flex;
    font-size: 18px;
    padding: 13px 45px;
    border-radius: 20px;
    align-items: center;
    text-align: center;
    font-weight: 600;
    text-align: center;
    background-color: var(--primary-color);
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.theme-btn::before{
    content: '';
    background: var(--primary-color);
    width: 0;
    height: 100%;
    position: absolute;
    inset: 0;
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    z-index: -1;
    border-radius: 20px;
}

.text_widgets {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.5px;
    font-family: "Inter", sans-serif;
    color:
        rgba(255, 255, 255, 0.45) !important;
}

.text_paragraph {
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    font-family: "Inter", sans-serif;
    color: rgba(105, 105, 105, 1);
}

.title_widgets {
    line-height: 1.4;
    font-size: 24px;
    margin-bottom: 35px;
}

a {
    text-decoration: none !important;
    color: #fff !important;
}

img {
    max-width: 100%;
    display: inline-block;
    object-fit: cover;
    object-position: center;
}

i { 
    margin-top: 4px;
    margin-left: 5px;
    cursor: pointer;
}

.imgIcon {
    margin-left: 7px;
}

.widget-social li {
    display: inline;
}

.line {
    width: 100%;
    height: 1.2px;
    margin: 20px 0 30.8px 0;
    background-color: rgba(15, 17, 15, 0.1);
}

.post-line {
    margin-top: 16px;
    width: 240px;
    height: 1.2px;
    background-color: rgba(15, 17, 15, 0.1);
}

.text-date {
    font-weight: 400;
    color: var(--color-spans);
    font-family: "Inter", sans-serif;
}

.title-item {
    font-size: 18px;
    font-weight: bold;
    margin-top: 2.8px;
}

.form {
    height: 60px;
    border: none;
    border-radius: 12px;
    outline: none;
}

.widget .widget-tag a {
    display: inline-block;
    margin-left: 10px;
    padding: 4px 18px;;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1.2px solid rgba(0, 25, 76, 0.1);
    font-weight: 600;
    color: rgba(105, 105, 105, 1) !important;
}

.widget .widget-social a {
    color: rgba(105, 105, 105, 1) !important;
    display: inline-block;
    height: 40px;
    width: 40px;
    line-height: 40px;
    letter-spacing: 5px;
    text-align: center;
    border-radius: 50%;
    border: 1.2px solid rgba(0, 25, 76, 0.1);
}

.text-white {
    color: #fff !important;
}

.text-main {
    font-size: 18px;
    color:
        rgba(0, 23, 38, 1) !important;
}

.color-social {
    background-color: rgba(39, 53, 87, 1);
}


.blog-meta {
    display: flex;
    flex-wrap: wrap;
    padding-top: 12px;
    padding-bottom: 12px;
}
.bgs{
    background-position: center;
    background-size: cover;
}