@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url(./color.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    overflow-y: scroll;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
caption,
canvas,
center,
cite,
code,
dd,
del,
details,
dfn,
dialog,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
form,
footer,
header,
hgroup,
h1,
h2,
h3,
h4,
h5,
h6,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
tt,
table,
tbody,
textarea,
tfoot,
thead,
time,
tr,
th,
td,
u,
ul,
var,
video {
    font-family: "Work Sans", sans-serif;
    font-size: 100%;
    font-weight: inherit;
    font-style: inherit;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    background: transparent;
}

span {
    font-weight: 400;
    font-size: 16px;
    line-height: 18.77px;
    display: inline-block;
}

.text_paragraph {
    font-size: 16px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    line-height: 30px;
    color: rgba(105, 105, 105, 1)
}

h3 {
    display: inline-block;
    font-weight: 600;
    line-height: 32px;
    font-size: 22px;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}


ul {
    padding: 0 !important;
    margin: 0 !important;
    list-style: none;
}

img {
    border: 0;
    -ms-interpolation-mode: bicubic;
    vertical-align: middle;
}


button,
input,
select,
textarea {
    font-size: 100%;
    margin: 0;
    max-width: 100%;
    vertical-align: baseline;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

button,
input {
    line-height: normal;
}

button,
input {
    font-size: 100%;
    margin: 0;
    max-width: 100%;
    vertical-align: baseline;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

i:hover,
a:hover,
a:focus {

    /* color: #36a7e3 !important;
    text-decoration: none;
    outline: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; */
}


/* header */
#header {
    height: 690px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8),
            rgba(0, 0, 0, 0.8)), url(/images/bg1.jpeg);
    background-size: cover;
    overflow: hidden;
}

.header-inner {
    max-width: 1920px;
    padding-top: 38px;
    display: flex;
    justify-content: space-between;
    margin: 0 130px;
}

.header-inner .nav-wrap .menu li {
    display: inline;
    line-height: 21.11px;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    padding: 10px 20px;
    font-family: "Work Sans";
    letter-spacing: 0.1px;
}

.nav-wrap .menu li i {
    padding-top: 10px;
}

.header-inner .nav-wrap .menu {
    display: block;
    padding: 14px 0 !important;
}

.header-inner #btn-getStarted {
    margin-top: -8px;
    background-color: var(--primary-color)
}

.Banner-content {
    position: absolute;
    top: 41%;
    left: 50%;
    transform: translate(-50%, -41%);
}

.Banner-content h1 {
    font-size: 75px;
    color: var(--color-text-white);
    text-align: center;
    line-height: 82.5px;
    margin-bottom: 27px;
    letter-spacing: 0.2px;
}

.Banner-direction {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--color-text-white);
    font-size: 24px;
    font-weight: 500;
    line-height: 28.15px;
}

.Banner-direction span {
    font-weight: 500;
    font-size: 24px;
    line-height: 28.15px;
}

.Banner-direction i {
    margin: 0 10px;
}

.Banner-direction #direction-link {
    text-decoration: underline !important;
}

.blog {
    padding: 0 -12px;
}



.blogItem .blogItem-author {
    display: flex;
    margin: 30px 0;
    align-items: center;
}

.blogItem .blogItem-author .author-name {
    font-weight: bold;
    color: var(--primary-color);
    font-size: 16px;
    line-height: 18.77px;
    letter-spacing: 0.2px;
}

.blogItem .blogItem-author .author-avartar {
    display: flex;
    margin: 0 30px;

}

.blogItem-author .author-avartar img {
    border-radius: 50%;
    height: 25px;
    width: 25px;
    margin-right: 10px;
}



.blogItem .blogItem-decription {
    margin: 35px 0 40px 0;
    font-family: "Inter", sans-serif;
}

.blog .note {
    background-color: var(--third-color);
    height: auto;
    position: relative;
    margin-bottom: 50px;
    border-radius: 10px;
}

.note .note-title {
    color: var(--color-secondary);
    font-size: 30px;
    font-weight: bold;
    line-height: 40px;
    padding-top: 50px;
    margin: 50px 0px 70px 60px;
}

.note-icon {
    position: absolute;
    top: 105px;
    right: 193px;
}

.note-icon2 {
    position: absolute;
    top: 116px;
    right: 81px;
}

.note-author {
    display: flex;
    flex-direction: column;
    margin-left: 60px;
    padding-bottom: 77px;
}

.note-author .note-name {
    font-weight: bold;
    font-size: 20px;
}

.note-author .note-position {
    line-height: 30px;
    font-weight: 400;
}

.tabbar {
    max-width: 291px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 70.11px;
}

.tabbar-number li {
    display: inline-block;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    text-align: center;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
}

.tabbar-number li:hover {
    cursor: pointer;
    background-color: var(--primary-color);
    color: var(--color-text-white);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

/* Search */
.sileBar-search {
    margin-bottom: 50px;
}

.sileBar-search h3 {
    font-size: 22px;
    margin-bottom: 17px;
    line-height: 32px;
}

.sileBar-search .input-search {
    position: relative;
}

.sileBar-search .input-search input {
    width: 100%;
    height: 65px;
    border-radius: 12px;
    border: 1.2px solid rgba(0, 25, 76, 0.1);
    background-color: var(--third-color);
    outline: none;
    font-size: 16px;
    font-weight: 400px;
}

::placeholder {
    padding-left: 25px;
    /* Khoảng cách từ bên trái */
}

.sileBar-search i {
    position: absolute;
    right: 25px;
    top: 50%;
    transform: translateY(-50%);
}

/* sildeBar Categoty */
.sileBar-category {
    margin-bottom: 50px;
}

.sileBar-category .category-content {

    padding-top: 25px;
    width: 100%;
}

.sileBar-category .category-content li {
    padding-bottom: 20px;
}

.category-content li a {
    font-size: 16px;
    font-weight: 500;
    color: rgba(0, 25, 76, 1) !important;
}

.sileBar-category .category-content a i {
    float: right !important;
}

.sileBar-category h3 {
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 5px;
    margin-bottom: 25px;
}

.sliebar-news .wraper {
    display: grid;
    row-gap: 30px;
}

.sliebar-news h3 {
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 25px;
}

.sliebar-news .news-item {
    display: flex;
    justify-content: space-between;
}

.sliebar-news img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    margin-right: 30px;
}

.sliebar-news .news-content {
    display: flex;
    flex-direction: column;
}



/* Populartags */
.slide-popular {
    margin: 50px 0;
}

.slide-popular h3 {
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 30px;
}

.tags-item {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
}

.widget-tag a {
    display: inline-block;
    margin-left: 10px;
    padding: 15px 20px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1.2px solid rgba(0, 25, 76, 0.1);
    font-weight: 600;
    color: rgba(105, 105, 105, 1) !important;
}

/* Poster */
.poster {
    width: 100%;
    min-height: 385px;
    background-color: var(--primary-color);
    border-radius: 16px;
    position: relative;
    background-image: url(../images/Bg2.png);
}

.slide-poster .poster-img img {
    max-height: 296px;
    transform: rotateY(180deg);
    position: absolute;
    right: 13px;
    bottom: 0;
}

.slide-poster .poster-img-star1 {
    position: absolute;
    left: 52.02px;
    bottom: 37.99px;
}

.slide-poster .poster-img-star2 {
    position: absolute;
    right: 53.85px;
    top: 21px;

}

.slide-poster .poster-btn .btn-quote {
    position: absolute;
    left: 40px;
    bottom: 132.11px;
    padding: 20px 30px;
    background-color: rgba(0, 149, 255, 1);
    width: 191.26px;
    height: 56.89px;
}

.slide-poster .poster-title h2 {
    max-height: 126px;
    max-width: 163px;
    position: absolute;
    left: 40px;
    top: 40px;
    color: var(--color-text-white);
    line-height: 31.5px;
}

/* footer */
.footer {
    background-color: var(--color-footer);
    padding: 115px 0 76px;
    color: #858585;
    position: relative;
    margin-top: 219px;
}

.footer-widgets {
    margin-top: 50px;
}

.footerItem p {
    color: rgba(255, 255, 255, 0.45);
    margin-bottom: 30px;
}


.footerItem .social li a i {
    display: inline-block;
    height: 40px;
    width: 40px;
    padding-top: 20px;
    text-align: center;
    border-radius: 50%;
    color: rgba(126, 145, 195, 1);
    background-color:
        rgba(39, 53, 87, 1);
}

.footer-about .social li a i:hover {
    background-color: var(--primary-color);
    color: var(--color-text-white)f;
}

.footerItem ul li {
    padding-bottom: 10px;
}

.footerItem .imgContact {
    margin-left: -20px;
}

/* CTA */
.CTA {
    margin: 0 315px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 185px;
    min-width: 1290px;
    background-color: var(--primary-color);
    position: absolute;
    top: -89px;
    border-radius: 10px;
}

.CTALogo {
    margin-left: 60px;
}

.CTALogo .CTALogo-title {
    margin-bottom: 20px;
}

.CTALogo .CTALogo-title span {
    font-size: 35px;
    font-weight: 600;
    line-height: 41.06px;
    color: var(--color-text-white);
}

.CTALogo span {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: var(--color-text-white);
}

.newsLetter {
    margin-right: 70px;
}

.newsLetter span {
    font-weight: 600;
    line-height: 30px;
    color: var(--color-text-white);
}

.newsLetter .input-email {
    margin-top: 22px;
    display: block;
    width: 507px;
    height: 67px;
    border-radius: 16px;
    background-color: var(--third-color);
    outline: none;
    border: none;
    position: relative;
}

.newsLetter .btn-signUp {
    height: 46.89px;
    width: 130.26px;
    border-radius: 12px;
    padding: 10px 25px;
    background-color: var(--secondary-color);
    border: none;
    position: absolute;
    top: 95px;
    right: 80.74px;
}

.footer .btnUp {
    width: 100%;
    text-align: center;
    position: relative;
    margin-top: 50px;
}

.footer .btnUp a {
    display: block;
    text-align: center;
    margin: 0 auto;
    height: 60px;
    width: 60px;
    padding-top: 20px;
    background-color: rgba(254, 196, 88, 1);
    border-radius: 14px;
    position: relative;
    z-index: 1;
}

.footer .btnUp i {
    margin-left: 0;
}

.footer .btnUp:after {
    content: "";
    width: 100%;
    height: 1px;
    background-color: var(--third-color);
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}


/* Detailblog  */

.alignleft {
    border-radius: 10px;
    background-color: rgba(241, 245, 255, 1);
    padding: 30px 50px;
    margin-top: 45px;
    margin-bottom: 50px;
}

.wrap-text .blockqiute-text {
    display: flex;
}

.wrap-text .blockqiute-text img {
    width: 52.54px;
    height: 39.36px;
}

.wrap-text .blockqiute-text h2 {
    margin-left: 30px;
    letter-spacing: -1px;
    margin-bottom: 30px;
    font-size: 27px;
}

.wrap-text .whisper {
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 18.77px;
    padding-left: 150px;
    text-transform: uppercase;
    position: relative;

}

.wrap-text .whisper::before {
    width: 40px;
    height: 2px;
    background-color: rgba(0, 23, 38, 1);
    content: "";
    left: 84px;
    top: 8px;
    position: absolute;
}

.wrap-share {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.main-post .line {
    width: 100%;
    height: 1.2px;
    margin: 20px 0 30.8px 0;
    background-color: rgba(15, 17, 15, 0.1);
}

.wrap-share h3 {
    font-size: 18px;
    margin-right: 10px;
}

.wrap-share .widget-tag a {
    color: black !important;
    font-size: 16px;
    display: inline-block;
    padding: 10px 15px;
    border-radius: 10px;
    border: 1.2px solid rgba(0, 25, 76, 0.1);
    margin: 0 5px 0 0;
}

.flat-socials .social {
    display: inline;
}

.flat-socials .social a i {
    color: rgba(105, 105, 105, 1) !important;
    display: inline-block;
    height: 40px;
    width: 40px;
    padding-top: 20px;
    text-align: center;
    border-radius: 50%;
    border: 1.2px solid rgba(0, 25, 76, 0.1);
}

/* author */
.alignleft-fluid {
    background-color: rgba(241, 245, 255, 1);
    padding: 40px 0px;
    margin-top: 45px;
    margin-bottom: 50px;
    border-radius: 10px;
}

.wrap-author {
    display: flex;
}

.wrap-author .author-avatar {
    height: 130px;
    width: 130px;
    margin-left: 40px;
    padding-top: 9px;
}

.wrap-author .author-detail {
    margin-left: 40px;
    margin-right: 52px;
}

.wrap-author .author-detail h2 {
    font-size: 22px;
}

.wrap-author .author-detail li a i {
    color:
        rgba(105, 105, 105, 1);
    margin-right: 20px;
}

/* post */
.post-wrapper {
    display: flex;
    margin-right: -60px;
    margin-bottom: 80px;
}

.post-wrapper img {
    display: inline;
    height: 100px;
    width: 100px;
    border-radius: 10px;
}

.post-wrapper .post-item {
    display: flex;
    margin-right: 60px;
}

.post-wrapper .post-item .post-content {
    margin-left: 30px;
}

/* comment */

.comment-list .comment {
    display: flex;
}

.comment-list .comment-detail {
    margin-left: 30px;
}

.comment-detail .comment-meta .comment-author {
    margin-right: 13px;
}

.comment-detail .comment-body {
    margin-top: 25px;
    margin-bottom: 20px;
}

.comment-detail .comment-reply {
    color: black !important;
    font-size: 18px;
    font-weight: 600;
    line-height: 21.11px;
    padding: 5px 10px;
}

.children {
    display: inline-block;
    margin: 50px 0 0 70px !important;
}

/* form */
.comment-respond {
    padding: 50px;
    background-color:
        rgba(241, 245, 255, 1);
}

.comment-respond h2 {
    margin-bottom: 30px;
}

.comment-respond .fullname-contariner,
.phone-container {
    min-width: 315px;
}
.comment-respond .fullname-contariner{
    margin-right: 10px;
}
.comment-respond .email-container{
    width: 100%;
    margin: 30px 0;
}
.comment-respond  .comment-container{
    height: 140px;
    width: 100%;
    /* padding-bottom: 80px; */
}
