@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url(./color.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    overflow-y: scroll;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
caption,
canvas,
center,
cite,
code,
dd,
del,
details,
dfn,
dialog,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
form,
footer,
header,
hgroup,
h1,
h2,
h3,
h4,
h5,
h6,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
tt,
table,
tbody,
textarea,
tfoot,
thead,
time,
tr,
th,
td,
u,
ul,
var,
video {
    font-family: "Work Sans", sans-serif;
    font-size: 100%;
    font-weight: inherit;
    font-style: inherit;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    background: transparent;
}

h1 {
    font: 75px/82.5px "Work Sans", sans-serif !important;
}

h2 {
    font: 48px/auto "Work Sans", sans-serif;
}

h3 {
    font: 30px/32px "Work Sans", sans-serif;
}

h4 {
    font: 20px/30px "Work Sans", sans-serif;
}

h5 {
    font: 18px/auto "Work Sans", sans-serif;
}

h6 {
    font: 16px/auto "Work Sans", sans-serif;
}

h1,
h2,
h4,
h5,
h6 {
    color: #202020;
    font-weight: 600 !important;
    margin: 0 0 30px;
}

p {
    font-size: 16px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    line-height: 30px;
    color: rgba(105, 105, 105, 1);
    letter-spacing: 0.64px;

}


article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}


ul {
    padding: 0 !important;
    margin: 0 !important;
    list-style: none;
}

img {
    border: 0;
    -ms-interpolation-mode: bicubic;
    vertical-align: middle;
}


button,
input,
select,
textarea {
    font-size: 100%;
    margin: 0;
    max-width: 100%;
    vertical-align: baseline;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

button,
input {
    line-height: normal;
}

input,
textarea {
    background-image: -webkit-linear-gradient(hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, 0));
    /* Removing the inner shadow, rounded corners on iOS inputs */
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    line-height: 1;
    cursor: pointer;
    /* Improves usability and consistency of cursor style between image-type 'input' and others */
    -webkit-appearance: button;
    /* Corrects inability to style clickable 'input' types in iOS */
    border: none;
}

input[type="checkbox"],
input[type="radio"] {
    padding: 0;
    /* Addresses excess padding in IE8/9 */
}

input[type="search"] {
    -webkit-appearance: textfield;
    /* Addresses appearance set to searchfield in S5, Chrome */
}

input[type="search"]::-webkit-search-decoration {
    /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
    -webkit-appearance: none;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

a:focus {
    color: var(--primary-color);
    text-decoration: none;
    outline: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
    width: 100%;
    font-size: 16px;
    border: none;
    color:
        rgba(105, 105, 105, 1);
    background-color: #fff;
    height: 65px;
    outline: none;
    padding: 12px 30px;
    border-radius: 12px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

button,
input {
    font-size: 100%;
    margin: 0;
    max-width: 100%;
    vertical-align: baseline;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}



/* header */
#header {
    padding-top: 30px;
    padding-bottom: 242px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8),
            rgba(0, 0, 0, 0.8)), url(/images/bg1.jpeg);
    background-size: cover;
}

.header-inner {
    display: flex;
    justify-content: space-between;
    margin: 0 130px;

}

#mainnav ul li {
    position: relative;
}

#mainnav ul li ul {
    width: 115px;
    background: var(--secondary-color);
    position: absolute;
    z-index: 9999;
    left: 0px;
    top: 100%;
    opacity: 0;
    filter: alpha(opacity=0);
    visibility: hidden;
    -webkit-transform: translate(0px, 10px);
    -moz-transform: translate(0px, -10px);
    -ms-transform: translate(0px, -10px);
    -o-transform: translate(0px, -10px);
    transform: translate(0px, -10px);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

#mainnav ul li ul li {
    width: 100%;
    padding: 10px 0 10px 10px;
    float: left;
    border-bottom: 1px solid var(--primary-color);
}

#mainnav li:hover>ul {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
}

.header-inner .nav-wrap .menu li {
    display: inline;
    line-height: 21.11px;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.1px;
    padding-right: 30px;
}



.nav-wrap .menu li i {
    padding-top: 10px;
}

.header-inner .nav-wrap .menu {
    display: block;
    padding: 14px 0 !important;
}

.header-inner #btn-getStarted {
    margin-top: -8px;
    background-color: var(--primary-color)
}

.Banner-content {
    /* position: absolute; */
    margin-top: 220px;
}

.Banner-content h1 {
    color: var(--color-text-white);
    text-align: center;
    margin-bottom: 27px;
    letter-spacing: -2.5px;
}

.Banner-direction {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--color-text-white);
    font-size: 24px;
    font-weight: 500;
    line-height: 28.15px;
}

.Banner-direction span {
    font-weight: 500;
    font-size: 24px;
    line-height: 28.15px;
}

.Banner-direction i {
    margin: 0 10px;
}

.Banner-direction #direction-link {
    text-decoration: underline !important;
}

/* -------------------------------------------------------------------------- */
/* Blog */
.flat-latest-blog {}

.main-post .author {
    display: flex;
    margin: 30px 0;
    align-items: center;
}

.format-gallery .author .author-name {
    font-weight: bold;
    color: var(--primary-color);
    font-size: 16px;
    line-height: 18.77px;
    letter-spacing: 0.2px;
}

.author .author-avartar {
    display: flex;
    margin: 0 30px;
}

.author .author-avartar .avatar {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    margin-right: 10px;
}

.format-gallery .entry-comment {
    margin: 35px 0 40px 0;
}

.alignleft .blockqiute-text {
    position: relative;
}


.blockqiute-icon {
    position: absolute;
    top: 59px;
    right: 153px;
}

.blockqiute-icon2 {
    position: absolute;
    top: 72px;
    right: 56px;
}

.blockqiute-author {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

.blockqiute-author .blockqiute-name {
    font-weight: bold;
    font-size: 20px;
}

.blockqiute-author .blockqiute-position {
    line-height: 30px;
    font-weight: 400;
}

.tabbar {
    max-width: 291px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 70.11px;
}

.tabbar-number li {
    display: inline-block;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    text-align: center;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
}

.tabbar-number li:hover {
    cursor: pointer;
    background-color: var(--primary-color);
    color: var(--color-text-white);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

/* ------------------------------------------------------------------------------ */
/* slidebar */
.slideBar .widget {
    margin-bottom: 50px;
}

.widget .widget-title {
    font-size: 22px;
    font-weight: 600;
    color:
        rgba(0, 23, 38, 1);
    line-height: 32px;
    margin-bottom: 30px;
}

/*widget-Search */

.widget.widge-search .input-search {
    position: relative;
}

.widget.widge-search .input-search input {
    border-radius: 12px;
    border: 1.2px solid rgba(0, 25, 76, 0.1);
    background-color: var(--third-color);
    outline: none;
}

.widget.widge-search .input-search i {
    position: absolute;
    right: 25px;
    top: 50%;
    transform: translateY(-50%);
}

/* sildeBar Categoty */
.widget-category .category-content {
    padding-top: 25px;
}

.widget-category .category-content li {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    transition: transform 0.4s ease-in-out;
}

.widget-category .category-content li a:hover {
    transform: translateX(10px);
}


.category-content li a {
    font-size: 16px;
    font-weight: 500;
    color: rgba(0, 25, 76, 1) !important;
}

.widget-category .category-content a i {
    float: right;
}

/* widget-news */
.widget-popular-news .popular-news {
    display: grid;
    row-gap: 30px;
}

.widget-popular-news .news-item {
    display: flex;
    justify-content: space-between;
}

.widget-popular-news img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    margin-right: 30px;
}




/* Populartags */
.widgget-popular {
    margin: 50px 0;
}

.widget.widget-popular .widget-tag {
    margin-left: -10px;
}


/* Poster */
.widget.widget-poster {
    width: 100%;
    min-height: 385px;
    background-color: var(--primary-color);
    border-radius: 16px;
    position: relative;
    background-image: url(../images/Bg2.png);
}

.widget-poster .poster-img img {
    max-height: 296px;
    transform: rotateY(180deg);
    position: absolute;
    right: 13px;
    bottom: 0;
}

.widget-poster .poster-img-star1 {
    position: absolute;
    left: 52.02px;
    bottom: 37.99px;
}

.widget-poster .poster-img-star2 {
    position: absolute;
    right: 53.85px;
    top: 21px;

}

.widget-poster .poster-btn .btn-quote {
    position: absolute;
    left: 40px;
    bottom: 132.11px;
    padding: 20px 30px;
    background-color: rgba(0, 149, 255, 1);
    width: 191.26px;
    height: 56.89px;
}

.widget-poster .poster-title h2 {
    max-height: 126px;
    max-width: 163px;
    position: absolute;
    left: 40px;
    top: 40px;
    color: var(--color-text-white);
    line-height: 34.5px;
    letter-spacing: -1px;
}

/* footer */
.footer {
    background-color: var(--color-footer);
    padding: 115px 0 76px;
    color: #858585;
    position: relative;
}

.footer-widgets {
    margin-top: 50px;
}

.widget.widget-text .widget-title {
    color: #fff;
}


.widget.widget_text .widget-social {
    display: flex;
}

.widget.widget_text .widget-social li a i {
    color: rgba(126, 145, 195, 1);
    background-color:
        rgba(39, 53, 87, 1);
    margin-left: 10px;
}

.widget-text ul li {
    padding-bottom: 10px;
}

.widget.widget-text .contact li {
    display: flex;
    gap: 15px;
}

.widget.widget-text .contact li img {
    height: 15px;
    width: 14px;
    margin-top: 5px;
}

/* CTA */
.widget-CTA {
    transform: translateY(-134%);
}

.CTA {
    padding: 40px 60px;
    background-color: var(--primary-color);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;

}

.CTA .CTALogo {}

.CTALogo .CTALogo-title {
    margin-bottom: 20px;
}

.CTALogo .CTALogo-title span {
    font-size: 35px;
    font-weight: 600;
    line-height: 41.06px;
    color: var(--color-text-white);
}

.CTALogo span {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: var(--color-text-white);
}

.newsLetter {
    margin-right: 70px;
}

.newsLetter span {
    font-weight: 600;
    line-height: 30px;
    color: var(--color-text-white);
}

.newsLetter .input-email {
    margin-top: 22px;
    height: 67px;
    border-radius: 16px;
    background-color: var(--third-color);
    position: relative;

}

.newsLetter .btn-signUp {
    height: 46.89px;
    width: 130.26px;
    border-radius: 12px;
    padding: 10px 25px;
    background-color: var(--primary-color);
    border: none;
    position: absolute;
    top: 103px;
    right: 142px;
    transition: all 0.3s ease-in-out;
}
.newsLetter .btn-signUp:hover{
    background-color: var(--secondary-color);
}

.footer-widgets .widget.widget-text .widget-social a {
    background-color:
        rgba(39, 53, 87, 1);
}

.footer .btnUp {
    width: 100%;
    text-align: center;
    position: relative;
    margin-top: 50px;
}

.footer .btnUp a {
    display: block;
    text-align: center;
    margin: 0 auto;
    height: 60px;
    width: 60px;
    padding-top: 20px;
    background-color: rgba(254, 196, 88, 1);
    border-radius: 14px;
    position: relative;
    z-index: 1;
}

.footer .btnUp i {
    margin-left: 0;
}

.footer .btnUp:after {
    content: "";
    width: 100%;
    height: 1px;
    background-color: var(--third-color);
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

/* ----------------------------------------------------------------------------------------------- */
/* Detailblog */

.alignleft {
    border-radius: 10px;
    background-color: rgba(241, 245, 255, 1);
    padding: 30px 50px;
    margin-top: 45px;
    margin-bottom: 50px;
}

.wrap-text .blockqiute-text {
    display: flex;
}

.wrap-text .blockqiute-text img {
    width: 52.54px;
    height: 39.36px;
}

.wrap-text .blockqiute-text h2 {
    margin-left: 30px;
    letter-spacing: -2px;
    margin-bottom: 30px;

}

.wrap-text .whisper {
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 18.77px;
    padding-left: 150px;
    text-transform: uppercase;
    position: relative;

}

.wrap-text .whisper::before {
    width: 40px;
    height: 2px;
    background-color: rgba(0, 23, 38, 1);
    content: "";
    left: 84px;
    top: 8px;
    position: absolute;
}

/* widget-share */
.widget-share {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.widget-share h3 {
    display: inline-block;
}

.widget.widget-share .widget-tag>a {
    color: rgba(105, 105, 105, 1);
    display: inline-block;
    padding: 10px 15px;
    margin: 0 5px 0 0;
}

.widget.flat-socials .widget-social {
    display: inline-block;
}

.main-post .line {
    width: 100%;
    height: 1.2px;
    margin: 20px 0 30.8px 0;
    background-color: rgba(15, 17, 15, 0.1);
}

/* Mobile navigation
---------------------------------------- */
#mainnav-mobi {
    display: block;
    margin: 0 auto;
    width: 100%;
    background-color: #202020;
    position: absolute;
    z-index: 9999;
    left: 0;
}

#mainnav-mobi ul {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
}

#mainnav-mobi ul li {
    margin: 0;
    position: relative;
    text-align: left;
    border-top: 1px solid #252525;
    cursor: pointer;
}

#mainnav-mobi ul>li>a {
    text-decoration: none;
    height: 55px;
    line-height: 55px;
    padding: 0 50px;
    color: #fff;
}

#mainnav-mobi ul.sub-menu {
    top: 100%;
    left: 0;
    z-index: 2000;
    position: relative;
    background-color: #161625;
}

#mainnav-mobi>ul>li>ul>li,
#mainnav-mobi>ul>li>ul>li>ul>li {
    position: relative;
    border-top: 1px solid #252525;
    background-color: #222;
}

#mainnav-mobi>ul>li>ul>li>a {
    padding-left: 70px !important;
}

#mainnav-mobi>ul>li>ul>li>ul>li a {
    padding-left: 90px !important;
}

#mainnav-mobi ul.sub-menu>li>a {
    display: block;
    text-decoration: none;
    padding: 0 60px;
    border-top-color: rgba(255, 255, 255, 0.1);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

#mainnav-mobi>ul>li>ul>li:first-child a {
    border-top: none;
}

#mainnav-mobi ul.sub-menu>li>a:hover,
#mainnav-mobi>ul>li>ul>li.active>a {
    color: #fff;
}

.btn-menu {
    display: none;
    position: absolute;
    width: 26px;
    height: 26px;
    float: right;
    top: 50%;
    right: 0px;
    background-color: transparent;
    cursor: pointer;
    transition: all 0s ease;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.btn-submenu:before {
    content: "\E5CF";
    color: #fff;
}

/* author */
.alignleft-fluid {
    background-color: rgba(241, 245, 255, 1);
    padding: 40px 0px;
    margin-top: 45px;
    margin-bottom: 50px;
    border-radius: 10px;
}

.wrap-author {
    display: flex;
}

.wrap-author .author-avatar {
    height: 130px;
    width: 130px;
    margin-left: 40px;
    padding-top: 9px;
}

.wrap-author .author-detail {
    margin-left: 40px;
    margin-right: 52px;
}

.wrap-author .author-detail h2 {
    font-size: 22px;
}

.author-detail .widget-social li a {
    color:
        rgba(105, 105, 105, 1) !important;
    margin-right: 20px;
}

.author-detail .widget-social li a:hover {
    background-color: rgba(241, 245, 255, 1) !important;
    color: var(--primary-color) !important;
}

/* post */
.post-wrapper {
    display: flex;
    margin-bottom: 80px;
    flex-wrap: wrap;
    gap: 40px;
}

.post-wrapper img {
    display: inline;
    height: 100px;
    width: 100px;
    border-radius: 10px;
}

.post-wrapper .post-item {
    max-width: 350px;
    display: flex;
    gap: 20px;
}


/* comment */
.comment-list .comment {
    display: flex;
}

.comment-list .comment-detail {
    margin-left: 30px;
}

.comment-detail .comment-meta .comment-author {
    margin-right: 13px;
}

.comment-detail .comment-body {
    margin-top: 25px;
    margin-bottom: 20px;
}

.comment-detail .comment-reply {
    color: black !important;
    font-size: 18px;
    font-weight: 600;
    line-height: 21.11px;
    padding: 5px 10px;
}

.children {
    display: inline-block;
    margin: 50px 0 0 70px !important;
}

/* form */
.comment-respond {
    padding: 50px;
    background-color:
        rgba(241, 245, 255, 1);
    margin-top: 80px
}

.comment-respond h2 {
    margin-bottom: 30px;
}

.comment-form .name-container {
    width: 48.27%;
    float: left;
    margin-right: 20px;
}

.comment-form .phone-container {
    width: 48.27%;
}

.comment-form .email-container {
    width: 100%;
    margin: 30px 0;
}

.comment-form #comment-container {
    height: 140px;
    margin-bottom: 30px;
}